body {
  background-color: rgb(240, 237, 234);
}

div.mainContainer {
  margin: 15px;
}

input {
  margin: 5px;
}

button {
  background-color: rgb(185, 196, 174);
  border-radius: 3px;
  border-style: none;
  margin: 5px;
}

li {
  list-style: none;
  width: fit-content;
}

button:hover {
  background-color: rgb(35, 68, 1);
  color: rgb(255, 255, 255);
}

button.removeBtn {
  margin-left: 0px;
}

ul {
  padding-left: 10px;
}

